.container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1112px;
  margin: 0 auto;
  padding: 20px 15px;
  border: 1px solid gray;

  .leftSide {
    width: 525px;
    max-width: 525px;
    height: 700px;
    max-height: 700px;
    padding-right: 15px;
    margin-bottom: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-right: 1px solid gray;

    .list {
      padding-left: 0;
    }
  }
  .rigthSide {
    width: 525px;
    max-width: 525px;
    height: 700px;
    max-height: 700px;

    .icon {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
      margin-top: 50px;
      color: rgb(100, 196, 240);
    }

    .pathContainer {
      padding: 0 15px;
      .pathWripper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 480px;

        .title {
          display: block;
          max-width: 300px;
          font-size: 30px;
          font-weight: 600;
          overflow-wrap: break-word;
        }
        .distance {
          font-size: 30px;
          font-weight: 600;
        }
      }
      .text {
        display: block;
        margin-bottom: 0;
        max-width: 480px;
        font-size: 25px;
        font-weight: 600;
        overflow-wrap: break-word;
      }
    }
    .buttonAddToFavorites {
      display: block;
      margin-left: auto;
      margin-right: 15px;
      font-size: 25px;
      font-weight: 700;
      border: none;
      border-bottom: 2px solid rgb(53, 53, 252);
      color: rgb(53, 53, 252);
      background-color: transparent;

      &:hover {
        cursor: pointer;
      }
    }
    .buttonRemove {
      display: block;
      margin-left: auto;
      margin-right: 15px;
      font-size: 25px;
      font-weight: 700;
      border: none;
      border-bottom: 2px solid rgb(255, 0, 0);
      color: rgb(255, 0, 0);
      background-color: transparent;

      &:hover {
        cursor: pointer;
      }
    }
  }
  .notPathYet {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
  }
}
